@import "variables";

.card-button {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    border-radius: $defaultRadius;
    background-color: white;
    cursor: pointer;
    padding: 10px;
}