<div class="container">
    <div class="left-bar">
        <div class="shortcuts">

        </div>
        <div class="user">

        </div>
    </div>
    <div class="content">
        <div class="left-content">
            <div class="menu">
                
            </div>
            <div class="favorites">

            </div>
            <div class="channels">

            </div>
        </div>
        <div class="center-content">
            <div class="feed">

            </div>
            <div class="post">

            </div>
        </div>
        <div class="right-content">
            <div class="info">

            </div>
            <div class="threads">

            </div>
            <div class="activity">

            </div>
        </div>
    </div>
</div>