@import "variables";

.card-disable-button {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    border-radius: $defaultRadius;
    background-color: rgb(221, 37, 92);
    cursor: pointer;
    padding: 10px;
}