
.item {
    padding: 15px;
    background-color: beige;
    cursor: pointer;

    &__name {
        font-size: 25px;
        font-weight: 500;
    }

    &__age {
        font-size: 25px;
        font-weight: 300;
    }

    &--odd {
        background-color: rgb(82, 82, 82);
    }

    &--highlighted {
        color: white;
        background-color: rgb(60, 229, 54);
        border: 3px solid rgb(168, 249, 131);
    }
}