<h1 [ngStyle]="{
  'font-size': fontSize + 'px',
  'color': textColor,
}">Sou um H1 [ngStyle]</h1>

<h1 
  [style.font-size.px]="fontSize"
  [style.color]="textColor"
>Sou um H1 [style.font-size.px]+[style.color]</h1>

<h1 
  [style]="styleString"
>Sou um H1 [style]</h1>

<h1 [ngStyle]="stylesObj">Sou um H1 [ngStyle]+stylesObj</h1>

<button (click)="increaseFontSize()">+A</button>
<button (click)="decreaseFontSize()">-A</button>
<button (click)="toggleFontColor()">{{ buttonText }}</button>
<button (click)="resetStyle()">Reset</button>