<h1 [ngClass]="{
  'is-big is-green': isGreen,
  'is-orange': !isGreen,
}">Sou um H1! [ngClass]</h1>

<!-- Se tiver dois itens no [class] ele só aplica a primeira, 
entao tem que separar em tres, diferente do [ngClass] -->
<h1 [class]="{
  'is-big': isGreen,
  'is-green': isGreen, 
  'is-orange': !isGreen,
}">Sou um H1! [class]</h1>

<h1 [ngClass]="'is-big is-green'">Sou um H1! [ngClass]+string</h1>
<h1 [class]="'is-big is-green'">Sou um H1! [class]+string</h1>

<h1 [ngClass]="['is-big', 'is-green']">Sou um H1! [ngClass]+array</h1>
<h1 [class]="['is-big', 'is-green']">Sou um H1! [class]+array</h1>

<h1 [ngClass]="{'is-big is-green': isGreen, 'is-orange': !isGreen }">Sou um H1! [ngClass]+object</h1>
<h1 [class]="{'is-big': isGreen, 'is-green': isGreen, 'is-orange': !isGreen }">Sou um H1! [class]+object</h1>

<button (click)="toggleIsGreen()">Toggle Color</button>