@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,800;1,100&family=Roboto+Mono:wght@100&display=swap');
@import "variables";

.card {
    max-width: 350px;
    background-color: #fd7557;
    border-radius: $defaultRadius;
    padding: 30px;
    font-family: 'Poppins', sans-serif;

    &__item {
        padding: 10px;
    }

    &__plan {
        font-size: 22px;
    }

    &__price {
        font-weight: 600;
        font-size: 40px;
    }
}