/* You can add global styles to this file, and also import other style files */

body {
    background-color: gray;
}

.meu-texto {
    background-color: orange;
    color: white;
}

.meu-size {
    font-size: 40px;
}