<div class="user-details">
    <mat-list role="list">
        <mat-list-item class="u-text-align-center">
            <span class="mat-h2">Detalhes do Usuário</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Nome: </span><span class="mat-h3">Alice Ribeiro</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Email: </span><span class="mat-h3">alice.ribeiro&#64;example.com</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Telefone: </span><span class="mat-h3">(11) 98765-4321</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Endereço: </span><span class="mat-h3">Avenida das Flores, 350, São Paulo - SP</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Ativo: </span><span class="mat-h3">Sim</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Função: </span><span class="mat-h3">Designer Gráfico</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Data de Cadastro: </span><span class="mat-h3">10/09/2024</span>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>