<div class="user-details">
    <mat-list role="list">
        <mat-list-item class="u-text-align-center">
            <span class="mat-h2">Detalhes do Usuário</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Nome: </span>
            <span class="mat-h3">{{ user.nome | dashIfEmpty }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Email: </span>
            <span class="mat-h3">{{ user.email | dashIfEmpty }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Telefone: </span>
            <span class="mat-h3">{{ user.telefone | phone }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Endereço: </span>
            <span class="mat-h3">{{ user.endereco | address }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Status: </span>
            <span class="mat-h3">{{ user.ativo | status }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Função: </span>
            <span class="mat-h3">{{ user.funcao | dashIfEmpty }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Data de Cadastro: </span>
            <span class="mat-h3">{{ user.dataCadastro | date:'dd/MM/yyy' | dashIfEmpty }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>